body {
		
		background-image: url("https://s2-g1.glbimg.com/DgldEMfqe3nfmj8-AEK_e4RNdxw=/0x0:1280x852/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/J/4/qBklGlRDq3Dmv2E290aQ/beira-rio.jpeg");
		background-attachment: fixed;
		background-size: cover; 
		
		} 

header{
		width: 100%;
		display: flex;
		background-color: black;	
		align-items: center;
		padding: 0;
		position: fixed;
		top: 0;
	}
	

.logo-texto{
	margin-left: 5px;
	color: white;
	font-family: Old English Text MT;
}
.menu li{
	display: inline-block;
	margin:  30px;
	align-items: center;
}
.menu li a{
	font-size: 25px;
	color: white;
	padding: 10px 15px;
}
.menu li a : hover{
	background-color: rgba(100, 100, 100, 0,5)	;
	align-items: center;
}
	
	
	#torcidas{
	position: b;
	font-style: normal;
	font-size: 20px;
	font-family:comic sans ms;
	text-align: center;
	margin: 230px 20px 50px 35px;  <-- margem entre topo e texto das torcidas-->
	color:#000000
	}
	
	#formulario { 
	position: c;
	font-style: normal;
	font-weight:normal;
	font-size: 20px;
	font-family:comic sans ms;
	text-align: center;
	margin: 5px 10px 5px 35px;
	color:#000000
	}

	#assinatura { 
	position: d;
	font-style: normal;
	font-weight:normal;
	font-size: 30px;
	font-family:times n17:15 26/02/2024ew roman;
	text-align: center;
	margin: 5px 10px 5px 35px;
	color:#000000
	}

	#botao { 
	position: e;
	font-style: normal;
	font-weight:normal;
	font-size: 30px;
	font-family:times n17:15 26/02/2024ew roman;
	text-align: center;
	margin: 5px 10px 5px 35px;
	color:#000000
	}
